@font-face {
    font-family: "Lab Grotesque";
    src: url("../fonts/LabGrotesque-Light.eot");
    src: local("Lab Grotesque Light"), local("LabGrotesque-Light"),
        url("../fonts/LabGrotesque-Thin.eot?#iefix") format("embedded-opentype"),
        url("../fonts/LabGrotesque-Thin.woff") format("woff"),
        url("../fonts/LabGrotesque-Thin.ttf") format("truetype");
    font-weight: 250;
    font-style: normal;
}

@font-face {
    font-family: "Lab Grotesque";
    src: url("../fonts/../fonts/LabGrotesque-Light.eot");
    src: local("Lab Grotesque Light"), local("LabGrotesque-Light"),
        url("../fonts/../fonts/LabGrotesque-Light.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/../fonts/LabGrotesque-Light.woff") format("woff"),
        url("../fonts/../fonts/LabGrotesque-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lab Grotesque";
    src: url("../fonts/LabGrotesque-Regular.eot");
    src: local("Lab Grotesque Regular"), local("LabGrotesque-Regular"),
        url("../fonts/LabGrotesque-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/LabGrotesque-Regular.woff") format("woff"),
        url("../fonts/LabGrotesque-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Scania Sans CY Headline";
    src: url("../fonts/ScaniaSansCYHeadline-Regular.eot");
    src: local("Lab Grotesque Regular"), local("LabGrotesque-Regular"),
        url("../fonts/ScaniaSansCYHeadline-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/ScaniaSansCYHeadline-Regular.woff") format("woff"),
        url("../fonts/ScaniaSansCYHeadline-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
