body {
    position: relative;
    font-family: "Rubik", sans-serif;
    color: #263238;
    font-weight: 300;
    font-size: 16px;
    line-height: 18.96px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

b {
    font-weight: 500;
}

section {
    opacity: 0;
    margin-top: 250px;
    transition: opacity 0.7s ease-in-out;
}

.section--active {
    opacity: 1;
}

.container {
    width: 1170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.5);
    border-radius: 25px; */
}

.title {
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    max-width: 700px;
    margin-bottom: 60px;
}

.inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inner__item {
    display: flex;
    box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
    border-radius: 25px;
    transition: transform 0.5s ease-in-out;
}

.inner__item:hover {
    transform: scale(1.1);
}

.inner__item-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 60px;
}

.inner__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 15px 0;
}

.seil .title {
    margin-bottom: 0;
}

.seil__title-img {
    width: 214px;
    height: 51px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.seil .inner__item {
    width: 370px;
    height: 428px;
}

.stats .inner__item {
    width: 270px;
    height: 328px;
}

.deal .inner__item {
    width: 570px;
    height: 308px;
}

.deal .inner__item-content {
    flex-direction: row-reverse;
    padding: 60px;
}

.deal .inner__item-img {
    margin-left: 12px;
}

.deal .inner__item-text,
.bonus .inner__item-text {
    text-align: start;
}

.bonus .inner__item {
    width: 525px;
    height: 240px;
    box-shadow: none;
}

.bonus .inner__item-content,
.feedback .inner__item-content {
    flex-direction: row;
    padding: 0;
}

.bonus .inner__item-img,
.feedback .inner__item-img {
    margin-right: 30px;
}

.feedback {
    margin-bottom: 250px;
}
.feedback .title {
    margin-bottom: 0;
}
.feedback .inner {
    justify-content: center;
}

.feedback .inner__item {
    width: 970px;
    height: 470px;
    box-shadow: none;
}

.feedback .inner__item-text p {
    margin: 15px 63px 30px;
}

.inner__box {
    width: 470px;
    height: 275px;
}

.feedback__button {
    width: 269px;
    height: 81px;
    background: radial-gradient(
        87.68% 100% at 50.19% 100%,
        #0084ff 0%,
        #5cb0ff 100%
    );
    box-shadow: 0px 10px 10px rgba(0, 48, 92, 0.1);
    border-radius: 81px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
}

.feedback__button:hover {
    background: radial-gradient(
        87.68% 100% at 50.19% 100%,
        #006fd6 0%,
        #0084ff 100%
    );
}

.feedback__button:active {
    background: radial-gradient(
        87.68% 100% at 50.19% 100%,
        #005aad 0%,
        #006fd6 100%
    );
}

.feedback__button:disabled {
    background: #e5f2ff;
    color: #b7dcff;
}

@media (max-width: 1169px) {
    section {
        margin-top: 150px;
    }
    .container {
        width: 728px;
    }
    .title {
        margin-bottom: 40px;
    }

    .seil .inner__item {
        width: 230px;
        height: 416px;
    }
    .seil .inner__item-img {
        width: 170px;
    }
    .seil .inner__item-content {
        padding: 30px;
    }

    .stats .inner__item {
        width: 354px;
        height: 328px;
        margin-bottom: 20px;
    }
    .stats .inner__item-text {
        padding: 0 42px;
    }

    .deal .inner,
    .bonus .inner {
        justify-content: center;
    }
    .deal .inner__item {
        width: 713px;
        height: 308px;
        margin-bottom: 20px;
    }
    .deal .inner__item-content {
        padding: 60px 117.5px;
    }
    .deal .inner .inner__item:nth-child(odd) .inner__item-content {
        flex-direction: row;
    }
    .deal .inner .inner__item:nth-child(odd) .inner__item-img {
        margin-right: 40px;
        margin-left: 0;
    }
    .deal .inner .inner__item:nth-child(even) .inner__item-img {
        margin-left: 40px;
    }

    .bonus .inner__item {
        width: 535px;
        height: 240px;
        margin-bottom: 20px;
    }
    .bonus .inner .inner__item:nth-child(even) .inner__item-content {
        flex-direction: row-reverse;
    }
    .bonus .inner .inner__item:nth-child(even) .inner__item-img {
        margin-right: 0;
        margin-left: 40px;
    }
    .bonus .inner .inner__item:nth-child(odd) .inner__item-img {
        margin-right: 40px;
    }

    .feedback .inner__item {
        width: 728px;
        height: 338px;
    }
    .feedback .inner__item-img {
        width: 328px;
    }
    .feedback {
        margin-bottom: 150px;
    }
    .inner__box {
        width: 380px;
        height: 260px;
    }
    .feedback .inner__item-text p {
        margin: 15px 20px 30px;
    }
}

@media (max-width: 767px) {
    section {
        margin-top: 100px;
    }
    .container {
        width: 440px;
    }

    .seil__title-img {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .seil .inner__item {
        width: 436px;
        height: 428px;

        margin-bottom: 20px;
    }
    .seil .inner__item-img {
        width: 230px;
    }
    .seil .inner__item-content {
        padding: 30px 63px 60px;
    }

    .stats .inner__item {
        width: 210px;
        height: 298px;
        margin-bottom: 20px;
    }
    .stats .inner__item-content {
        padding: 30px 10px;
    }
    .stats .inner__item-text {
        padding: 0;
    }

    .deal .inner__item {
        width: 440px;
        height: 399px;
    }
    .deal .inner__item-content {
        padding: 30px;
        flex-direction: column !important;
    }
    .deal .inner__item-img {
        margin: 0 !important;
    }
    .deal .inner__item-title {
        margin: 20px 0 15px;
        text-align: center;
    }
    .deal .inner__item-text {
        text-align: center;
    }

    .bonus .inner__item {
        width: 320px;
        height: 343px;
        margin-bottom: 40px;
    }
    .bonus .inner__item-content {
        flex-direction: column !important;
    }
    .bonus .inner__item-img {
        margin: 0 !important;
    }
    .bonus .inner__item-title {
        margin: 10px 0 15px;
    }
    .bonus .inner__item-text {
        text-align: center;
    }

    .feedback .inner__item {
        width: 440px;
        height: 618px;
    }
    .feedback .inner__item-content {
        flex-direction: column;
    }
    .feedback .inner__item-img {
        width: 328px;
        height: 338px;
        margin: 0 0 10px 0;
    }
    .feedback .inner__item-text p {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .feedback {
        margin-bottom: 100px;
    }
    .inner__box {
        width: 440px;
        height: 270px;
    }
    .feedback .inner__item-text p {
        margin: 15px 50px 30px;
    }
}

@media (max-width: 479px) {
    .title {
        font-size: 24px;
        line-height: 28px;
    }
    .container {
        width: 280px;
    }

    .seil .inner__item {
        width: 436px;
        height: 428px;
    }
    .seil .inner__item-title {
        margin: 5px 0;
    }
    .seil .inner__item-content {
        padding: 30px 20px;
    }

    .stats .inner__item {
        width: 280px;
        height: 298px;
        margin-bottom: 20px;
    }
    .stats .inner__item-content {
        padding: 30px;
    }

    .deal .inner__item {
        width: 280px;
        height: 456px;
    }
    .deal .inner__item-content {
        padding: 30px 20px;
    }

    .bonus .inner__item {
        width: 280px;
        height: 362px;
    }

    .feedback .inner__item {
        width: 280px;
        height: 576px;
    }
    .feedback .inner__item-img {
        width: 280px;
        height: 280px;
    }
    .inner__box {
        width: 280px;
        height: 291px;
    }
    .feedback .inner__item-text p {
        margin: 15px 19px 30px;
    }
}
